<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Простой читаемый формат -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- WireMock логирование (можно настроить уровень) -->
    <logger name="com.github.tomakehurst.wiremock" level="INFO"/>

    <!-- Увеличить уровень логирования для отладки WireMock -->
    <!-- <logger name="WireMock" level="DEBUG"/> -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>