PROFILE=prod
LOG_LEVEL=INFO

NEXUS_URL=http://nexus:8081/repository/maven-releases/
NEXUS_USER_PASSWORD=strongpassword
NEXUS_USER=user

# =========================
# KEYCLOAK
# =========================
ENV_KEYCLOAK_URL="http://localhost:7878"
ENV_KEYCLOAK_REALM="iot-platform"
ENV_KEYCLOAK_DEVICE_CLIENT="device-service"
ENV_KEYCLOAK_ORCHESTRATOR_CLIENT="orchestrator"
ENV_KEYCLOAK_DEVICE_ADMIN_ROLE="deviceapp.admin"
ENV_KEYCLOAK_DEVICE_USER_ROLE="deviceapp.user"
ENV_KEYCLOAK_ORCHESTRATOR_ADMIN_ROLE="orchestrator.admin"
ENV_KEYCLOAK_ORCHESTRATOR_USER_ROLE="orchestrator.user"
KEYCLOAK_ADMIN="admin"
KEYCLOAK_ADMIN_PASSWORD="admin"
ENV_KEYCLOAK_ADMIN="admin"
ENV_KEYCLOAK_ADMIN_PASSWORD="admin"
ENV_KEYCLOAK_USER="user"
ENV_KEYCLOAK_USER_PASSWORD="user"

POSTGRES_KEYCLOAK_DB=keycloak
APP_DATASOURCE_KEYCLOAK_URL=jdbc:postgresql://postgres_keycloak:5432
APP_DATASOURCE_KEYCLOAK_USERNAME=keycloak
APP_DATASOURCE_KEYCLOAK_PASSWORD=keycloak

APP_CLIENT_ID_DEVICE_SERVICE_KEYCLOAK=device-service
APP_CLIENT_ID_ORCHESTRATOR_KEYCLOAK=orchestrator
APP_CLIENT_DEVICE_SERVICE_SECRET_KEYCLOAK=EKzEMfMvm7m0P4hcjDfb9ZMstLpVbSAU
APP_CLIENT_ORCHESTRATOR_SECRET_KEYCLOAK=EKzEMfMvm7m0P4hcjDfb9ZMstLpVbSAU
APP_CLIENT_AUTH_TYPE_KEYCLOAK=authorization_code
APP_CLIENT_REALM_NAME_KEYCLOAK=iot-platform

# =========================
# PostgreSQL
# =========================
POSTGRES_DB=iot_platform
APP_DATASOURCE_1_URL=jdbc:postgresql://postgres1:5432/${POSTGRES_DB}
APP_DATASOURCE_1_USERNAME=myuser
APP_DATASOURCE_1_PASSWORD=strongpassword
APP_DATASOURCE_2_URL=jdbc:postgresql://postgres2:5432/${POSTGRES_DB}
APP_DATASOURCE_2_USERNAME=myuser
APP_DATASOURCE_2_PASSWORD=strongpassword
APP_REPLICA_DATASOURCE_1_URL=jdbc:postgresql://postgres1r:5432/${POSTGRES_DB}
APP_REPLICA_DATASOURCE_1_USERNAME=myuser
APP_REPLICA_DATASOURCE_1_PASSWORD=strongpassword
APP_REPLICA_DATASOURCE_2_URL=jdbc:postgresql://postgres2r:5432/${POSTGRES_DB}
APP_REPLICA_DATASOURCE_2_USERNAME=myuser
APP_REPLICA_DATASOURCE_2_PASSWORD=strongpassword

# =========================
# CASSANDRA
# =========================
CASSANDRA_CONTACT_POINTS=cassandra
CASSANDRA_PORT=9042
CASSANDRA_LOCAL_DATACENTER=datacenter1
CASSANDRA_KEYSPACE=iot_service
CASSANDRA_SCHEMA_ACTION=CREATE_IF_NOT_EXISTS
CASSANDRA_REPLICATION_STRATEGY="'class':'SimpleStrategy','replication_factor':'1'"

# =========================
# REDIS
# =========================
REDIS_PASSWORD=redis_pass
REDIS_HOST=redis
REDIS_PORT=6379

# =========================
# MinIO
# =========================
MINIO_URL=http://minio:9000
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_pass
MINIO_BUCKET_NAME=bucket
MINIO_RETRY_MAX_ATTEMPTS=3
MINIO_RETRY_INITIAL_DELAY=4000
MINIO_RETRY_MULTIPLIER=5

# =========================
# GRAFANA
# =========================
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# =========================
# COMMON
# =========================
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092

SPRING_KAFKA_TEMPLATE_DEVICE_TOPIC=device
SPRING_KAFKA_TEMPLATE_DEVICE_PARTITION=3
SPRING_KAFKA_TEMPLATE_DEVICE_REPLICAS=1
SPRING_KAFKA_TEMPLATE_DLT_DEVICE_TOPIC=device.DLT
SPRING_KAFKA_TEMPLATE_DLT_DEVICE_PARTITION=1

SPRING_KAFKA_TEMPLATE_EVENTS_TOPIC=events
SPRING_KAFKA_TEMPLATE_EVENTS_PARTITION=3
SPRING_KAFKA_TEMPLATE_EVENTS_REPLICAS=1
SPRING_KAFKA_TEMPLATE_DLT_EVENTS_TOPIC=events.DLT
SPRING_KAFKA_TEMPLATE_DLT_EVENTS_PARTITION=1

SPRING_KAFKA_PRODUCER_KEY_SERIALIZER=org.apache.kafka.common.serialization.StringSerializer
SPRING_KAFKA_PRODUCER_VALUE_SERIALIZER=io.confluent.kafka.serializers.KafkaAvroSerializer
#-----------------perfomance-----------------------#
SPRING_KAFKA_PRODUCER_BATCH_SIZE=16384
SPRING_KAFKA_CONSUMER_MAX_POLL_RECORDS=50000
SPRING_KAFKA_CONSUMER_FETCH_MAX_WAIT=500
SPRING_KAFKA_CONSUMER_FETCH_MIN_SIZE=1024
SPRING_KAFKA_LISTENER_CONCURRENCY=3
SPRING_KAFKA_LISTENER_IDLE_BETWEEN_POLLS=1000
#-----------------perfomance-----------------------#
SPRING_KAFKA_PRODUCER_COMPRESSION_TYPE=snappy
SPRING_KAFKA_PRODUCER_PROPERTIES_SCHEMA_REGISTRY_URL=http://schema-registry:8081
SPRING_KAFKA_PRODUCER_PROPERTIES_AUTO_REGISTER_SCHEMAS=true
SPRING_KAFKA_CONSUMER_ENABLE_AUTO_COMMIT=false
SPRING_KAFKA_CONSUMER_GROUP_ID=device-group
SPRING_KAFKA_CONSUMER_AUTO_OFFSET_RESET=earliest
SPRING_KAFKA_CONSUMER_KEY_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer
SPRING_KAFKA_CONSUMER_VALUE_DESERIALIZER=io.confluent.kafka.serializers.KafkaAvroDeserializer
SPRING_KAFKA_CONSUMER_PROPERTIES_SCHEMA_REGISTRY_URL=http://schema-registry:8081
SPRING_KAFKA_CONSUMER_PROPERTIES_SPECIFIC_AVRO_READER=true
SPRING_KAFKA_LISTENER_ACK_MODE=batch
SPRING_KAFKA_LISTENER_TYPE=batch
SPRING_KAFKA_CONSUMER_PROPERTIES_AVRO_REMOVE_JAVA_PROPERTIES=true
SPRING_KAFKA_TEMPLATE_OBSERVATION_ENABLED=true
SPRING_KAFKA_LISTENER_OBSERVATION_ENABLED=true

# =========================
# DEVICE-COLLECTOR
# =========================
KAFKA_PRODUCER_SERVER_PORT=8887

# =========================
# EVENT-COLLECTOR
# =========================
EVENT_COLLECTOR_SERVER_PORT=8888
EVENT_COLLECTOR_MANAGEMENT_ENDPOINT_HEALTH_PROBES_ENABLED=true
EVENT_COLLECTOR_MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=*
EVENT_COLLECTOR_MANAGEMENT_METRICS_TAGS_APPLICATION=event-collector
EVENT_COLLECTOR_MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
EVENT_COLLECTOR_MANAGEMENT_TRACING_ENABLED=true
EVENT_COLLECTOR_MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0
EVENT_COLLECTOR_MANAGEMENT_TRACING_OTLP_ENDPOINT=http://alloy:4318
EVENT_COLLECTOR_MANAGEMENT_TRACING_OTLP_PROTOCOL=http/protobuf

EVENT_COLLECTOR_OPENTELEMETRY_INSTRUMENTATION_LOGBACK_MDC_ENABLED=true
EVENT_COLLECTOR_OPENTELEMETRY_SERVICE_NAME=event-collector
EVENT_COLLECTOR_OPENTELEMETRY_EXPORTER_OTLP_ENDPOINT=http://alloy:4318
EVENT_COLLECTOR_OPENTELEMETRY_EXPORTER_OTLP_PROTOCOL=http/protobuf
EVENT_COLLECTOR_OPENTELEMETRY_EXPORTER_OTLP_TIMEOUT=10000
EVENT_COLLECTOR_OPENTELEMETRY_EXPORTER_OTLP_COMPRESSION=gzip
EVENT_COLLECTOR_OPENTELEMETRY_TRACES_EXPORTER=otlp
EVENT_COLLECTOR_OPENTELEMETRY_METRICS_EXPORTER=none
EVENT_COLLECTOR_OPENTELEMETRY_LOGS_EXPORTER=none
EVENT_COLLECTOR_OPENTELEMETRY_RESOURCE_ATTRIBUTES_SERVICE_VERSION=1.0.0
EVENT_COLLECTOR_OPENTELEMETRY_RESOURCE_ATTRIBUTES_DEPLOYMENT_ENVIRONMENT=docker

# =========================
# ORCHESTRATOR
# =========================
ORCHESTRATOR_SERVER_PORT=8879
ORCHESTRATOR_MANAGEMENT_ENDPOINT_HEALTH_PROBES_ENABLED=true
ORCHESTRATOR_MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=*
ORCHESTRATOR_MANAGEMENT_METRICS_TAGS_APPLICATION=event-collector
ORCHESTRATOR_MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
ORCHESTRATOR_MANAGEMENT_TRACING_ENABLED=true
ORCHESTRATOR_MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0
ORCHESTRATOR_MANAGEMENT_TRACING_OTLP_ENDPOINT=http://alloy:4318
ORCHESTRATOR_MANAGEMENT_TRACING_OTLP_PROTOCOL=http/protobuf

ORCHESTRATOR_OPENTELEMETRY_INSTRUMENTATION_LOGBACK_MDC_ENABLED=true
ORCHESTRATOR_OPENTELEMETRY_SERVICE_NAME=event-collector
ORCHESTRATOR_OPENTELEMETRY_EXPORTER_OTLP_ENDPOINT=http://alloy:4318
ORCHESTRATOR_OPENTELEMETRY_EXPORTER_OTLP_PROTOCOL=http/protobuf
ORCHESTRATOR_OPENTELEMETRY_EXPORTER_OTLP_TIMEOUT=10000
ORCHESTRATOR_OPENTELEMETRY_EXPORTER_OTLP_COMPRESSION=gzip
ORCHESTRATOR_OPENTELEMETRY_TRACES_EXPORTER=otlp
ORCHESTRATOR_OPENTELEMETRY_METRICS_EXPORTER=none
ORCHESTRATOR_OPENTELEMETRY_LOGS_EXPORTER=none
ORCHESTRATOR_OPENTELEMETRY_RESOURCE_ATTRIBUTES_SERVICE_VERSION=1.0.0
ORCHESTRATOR_OPENTELEMETRY_RESOURCE_ATTRIBUTES_DEPLOYMENT_ENVIRONMENT=docker

ORCHESTRATOR_REDIS_ENABLED=true

# =========================
# redis config
# =========================
REDIS_ORCHESTRATOR_PASSWORD=redis_pass
REDIS_ORCHESTRATOR_HOST=redis
REDIS_ORCHESTRATOR_PORT=6379

# =========================
# EVENT-SERVICE
# =========================
EVENT_SERVICE_SERVER_PORT=8881
EVENT_SERVICE_MANAGEMENT_ENDPOINT_HEALTH_PROBES_ENABLED=true
EVENT_SERVICE_MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=*
EVENT_SERVICE_MANAGEMENT_METRICS_TAGS_APPLICATION=event-service
EVENT_SERVICE_MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
EVENT_SERVICE_MANAGEMENT_TRACING_ENABLED=true
EVENT_SERVICE_MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0
EVENT_SERVICE_MANAGEMENT_TRACING_OTLP_ENDPOINT=http://alloy:4318
EVENT_SERVICE_MANAGEMENT_TRACING_OTLP_PROTOCOL=http/protobuf

EVENT_SERVICE_OPENTELEMETRY_INSTRUMENTATION_LOGBACK_MDC_ENABLED=true
EVENT_SERVICE_OPENTELEMETRY_SERVICE_NAME=event-service
EVENT_SERVICE_OPENTELEMETRY_EXPORTER_OTLP_ENDPOINT=http://alloy:4318
EVENT_SERVICE_OPENTELEMETRY_EXPORTER_OTLP_PROTOCOL=http/protobuf
EVENT_SERVICE_OPENTELEMETRY_EXPORTER_OTLP_TIMEOUT=10000
EVENT_SERVICE_OPENTELEMETRY_EXPORTER_OTLP_COMPRESSION=gzip
EVENT_SERVICE_OPENTELEMETRY_TRACES_EXPORTER=otlp
EVENT_SERVICE_OPENTELEMETRY_METRICS_EXPORTER=none
EVENT_SERVICE_OPENTELEMETRY_LOGS_EXPORTER=none
EVENT_SERVICE_OPENTELEMETRY_RESOURCE_ATTRIBUTES_SERVICE_VERSION=1.0.0
EVENT_SERVICE_OPENTELEMETRY_RESOURCE_ATTRIBUTES_DEPLOYMENT_ENVIRONMENT=docker

#-----------------perfomance-----------------------#
CASSANDRA_BATCH_SIZE=100
CASSANDRA_CONCURRENCY_SIZE=5
#-----------------perfomance-----------------------#

CASSANDRA_ERROR_MAX_ATTEMPTS=3
CASSANDRA_ERROR_MAX_BACKOFF=100
CASSANDRA_ERROR_JITTER_FACTOR=0.5
CACHE_EXPIRATION_SECONDS=30

# =========================
# DEVICE-SERVICE
# =========================
DEVICE_SERVICE_SERVER_PORT=8886
DEVICE_SERVICE_MANAGEMENT_ENDPOINT_HEALTH_PROBES_ENABLED=true
DEVICE_SERVICE_MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=*
DEVICE_SERVICE_MANAGEMENT_METRICS_TAGS_APPLICATION=event-collector
DEVICE_SERVICE_MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
DEVICE_SERVICE_MANAGEMENT_TRACING_ENABLED=true
DEVICE_SERVICE_MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0
DEVICE_SERVICE_MANAGEMENT_TRACING_OTLP_ENDPOINT=http://alloy:4318
DEVICE_SERVICE_MANAGEMENT_TRACING_OTLP_PROTOCOL=http/protobuf

DEVICE_SERVICE_OPENTELEMETRY_INSTRUMENTATION_LOGBACK_MDC_ENABLED=true
DEVICE_SERVICE_OPENTELEMETRY_SERVICE_NAME=event-collector
DEVICE_SERVICE_OPENTELEMETRY_EXPORTER_OTLP_ENDPOINT=http://alloy:4318
DEVICE_SERVICE_OPENTELEMETRY_EXPORTER_OTLP_PROTOCOL=http/protobuf
DEVICE_SERVICE_OPENTELEMETRY_EXPORTER_OTLP_TIMEOUT=10000
DEVICE_SERVICE_OPENTELEMETRY_EXPORTER_OTLP_COMPRESSION=gzip
DEVICE_SERVICE_OPENTELEMETRY_TRACES_EXPORTER=otlp
DEVICE_SERVICE_OPENTELEMETRY_METRICS_EXPORTER=none
DEVICE_SERVICE_OPENTELEMETRY_LOGS_EXPORTER=none
DEVICE_SERVICE_OPENTELEMETRY_RESOURCE_ATTRIBUTES_SERVICE_VERSION=1.0.0
DEVICE_SERVICE_OPENTELEMETRY_RESOURCE_ATTRIBUTES_DEPLOYMENT_ENVIRONMENT=docker

#-----------------perfomance-----------------------#
DEVICE_SERVICE_REDIS_ENABLED=true
#-----------------perfomance-----------------------#

# =========================
# DEVICE-COLLECTOR
# =========================
DEVICE_COLLECTOR_SERVER_PORT=8889
DEVICE_COLLECTOR_MANAGEMENT_ENDPOINT_HEALTH_PROBES_ENABLED=true
DEVICE_COLLECTOR_MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=*
DEVICE_COLLECTOR_MANAGEMENT_METRICS_TAGS_APPLICATION=device-collector
DEVICE_COLLECTOR_MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
DEVICE_COLLECTOR_MANAGEMENT_TRACING_ENABLED=true
DEVICE_COLLECTOR_MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0
DEVICE_COLLECTOR_MANAGEMENT_TRACING_OTLP_ENDPOINT=http://alloy:4318
DEVICE_COLLECTOR_MANAGEMENT_TRACING_OTLP_PROTOCOL=http/protobuf

DEVICE_COLLECTOR_OPENTELEMETRY_INSTRUMENTATION_LOGBACK_MDC_ENABLED=true
DEVICE_COLLECTOR_OPENTELEMETRY_SERVICE_NAME=device-collector
DEVICE_COLLECTOR_OPENTELEMETRY_EXPORTER_OTLP_ENDPOINT=http://alloy:4318
DEVICE_COLLECTOR_OPENTELEMETRY_EXPORTER_OTLP_PROTOCOL=http/protobuf
DEVICE_COLLECTOR_OPENTELEMETRY_EXPORTER_OTLP_TIMEOUT=10000
DEVICE_COLLECTOR_OPENTELEMETRY_EXPORTER_OTLP_COMPRESSION=gzip
DEVICE_COLLECTOR_OPENTELEMETRY_TRACES_EXPORTER=otlp
DEVICE_COLLECTOR_OPENTELEMETRY_METRICS_EXPORTER=none
DEVICE_COLLECTOR_OPENTELEMETRY_LOGS_EXPORTER=none
DEVICE_COLLECTOR_OPENTELEMETRY_RESOURCE_ATTRIBUTES_SERVICE_VERSION=1.0.0
DEVICE_COLLECTOR_OPENTELEMETRY_RESOURCE_ATTRIBUTES_DEPLOYMENT_ENVIRONMENT=docker
DEVICE_COLLECTOR_OPENTELEMETRY_RESOURCE_ATTRIBUTES_SERVICE_NAME=device-collector

SPRING_FLYWAY_ENABLED=false
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.apache.shardingsphere.driver.ShardingSphereDriver
SPRING_JPA_HIBERNATE_DDL_AUTO=none
SPRING_SQL_INIT_MODE=always

APP_SHARDINGSPHERE_LOGIC_TABLE=t_device
APP_SHARDINGSPHERE_SHARDING_COLUMN=device_id
APP_SHARDINGSPHERE_SHARD_COUNT=2
APP_SHARDINGSPHERE_ALGORITHM_EXPRESSION='shard$->{Math.abs(device_id.hashCode()) %% %s}'

APP_POSTGRES_RETRY_MAX_ATTEMPTS=3
APP_POSTGRES_RETRY_INITIAL_DELAY=1000
APP_POSTGRES_RETRY_MULTIPLIER=5

#-----------------PERFOMANCE-----------------------#

APP_POSTGRES_BATCH_SIZE=300

#-----------------PERFOMANCE-----------------------#

# =========================
# FAILED-EVENTS-PROCESSOR
# =========================
FAILED_PROCESSOR_SERVER_PORT=8880
FAILED_PROCESSOR_MANAGEMENT_ENDPOINT_HEALTH_PROBES_ENABLED=true
FAILED_PROCESSOR_MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=*
FAILED_PROCESSOR_MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
FAILED_PROCESSOR_MANAGEMENT_TRACING_ENABLED=true
FAILED_PROCESSOR_MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0
FAILED_PROCESSOR_MANAGEMENT_TRACING_OTLP_ENDPOINT=http://alloy:4318
FAILED_PROCESSOR_MANAGEMENT_TRACING_OTLP_PROTOCOL=http/protobuf

FAILED_PROCESSOR_OPENTELEMETRY_INSTRUMENTATION_LOGBACK_MDC_ENABLED=true
FAILED_PROCESSOR_OPENTELEMETRY_SERVICE_NAME=failed-events-processor
FAILED_PROCESSOR_OPENTELEMETRY_EXPORTER_OTLP_ENDPOINT=http://alloy:4318
FAILED_PROCESSOR_OPENTELEMETRY_EXPORTER_OTLP_PROTOCOL=http/protobuf
FAILED_PROCESSOR_OPENTELEMETRY_EXPORTER_OTLP_TIMEOUT=10000
FAILED_PROCESSOR_OPENTELEMETRY_EXPORTER_OTLP_COMPRESSION=gzip
FAILED_PROCESSOR_OPENTELEMETRY_TRACES_EXPORTER=otlp
FAILED_PROCESSOR_OPENTELEMETRY_METRICS_EXPORTER=none
FAILED_PROCESSOR_OPENTELEMETRY_LOGS_EXPORTER=none
FAILED_PROCESSOR_OPENTELEMETRY_RESOURCE_ATTRIBUTES_SERVICE_VERSION=1.0.0
FAILED_PROCESSOR_OPENTELEMETRY_RESOURCE_ATTRIBUTES_DEPLOYMENT_ENVIRONMENT=docker
FAILED_PROCESSOR_OPENTELEMETRY_RESOURCE_ATTRIBUTES_SERVICE_NAME=failed-events-processor

# =========================
# ROUTER-MANANGER-SERVICE (GO)
# =========================
APP_ROUTER_MANAGER_METRICS_PORT=9091
APP_ROUTER_MANAGER_GRPC_PORT=9092
APP_ROUTER_MANAGER_HOST=router-manager-service
# =========================
# database config
# =========================
APP_ROUTER_MANAGER_SERVICE_TRACING_OTLP_ENDPOINT_GRPC=http://alloy:4317
APP_ROUTER_MANAGER_DATASOURCE_USERNAME=user
APP_ROUTER_MANAGER_DATASOURCE_PASSWORD=password
APP_ROUTER_MANAGER_DATASOURCE_DB=router_db
APP_ROUTER_MANAGER_DATASOURCE_HOST=postgres_router_manager
APP_ROUTER_MANAGER_DATASOURCE_PORT=5432
APP_ROUTER_MANAGER_DATASOURCE_URL=jdbc:postgresql://${APP_ROUTER_MANAGER_DATASOURCE_HOST}:${APP_ROUTER_MANAGER_DATASOURCE_PORT}/${APP_ROUTER_MANAGER_DATASOURCE_DB}
#-----------------perfomance-----------------------#
APP_ROUTER_MANAGER_CHECK_EXPIRED_INTERVAL=30s
APP_ROUTER_MANAGER_SENT_EXPIRED=5m
APP_ROUTER_MANAGER_MAXCONNS=200
APP_ROUTER_MANAGER_MINCONNS=50
APP_ROUTER_MANAGER_MAXCONN_LIFETIME=30s
APP_ROUTER_MANAGER_MAXCONN_IDLETIME=5s
APP_ROUTER_MANAGER_HEALTHCHECK_PERIOD=1s
APP_ROUTER_MANAGER_STATEMENT_TIMEOUT=30000
APP_ROUTER_MANAGER_IDLE_IN_TRANSACTION_SESSION_TIMEOUT=10000
APP_ROUTER_MANAGER_CONNECTION_TIMEOUT=10000
#-----------------perfomance-----------------------#
# =========================
# redis config
# =========================
APP_ROUTER_MANAGER_REDIS_PASSWORD=redis_pass
APP_ROUTER_MANAGER_REDIS_HOST=redis-rms
APP_ROUTER_MANAGER_REDIS_PORT=6379

# =========================
# ROUTER (GO)
# =========================
ROUTER_SERVICE_NAME=router-service
ROUTER_OPENTELEMETRY_EXPORTER_OTLP_ENDPOINT=http://alloy:4318
ROUTER_OPENTELEMETRY_EXPORTER_OTLP_PROTOCOL=http/protobuf
ROUTER_OPENTELEMETRY_SERVICE_VERSION=1.0.0
ROUTER_OPENTELEMETRY_DEPLOYMENT_ENVIRONMENT=docker
ROUTER_TRACING_OTLP_ENDPOINT_GRPC=http://alloy:4317
ROUTER_POLL_INTERVAL="10s"
